@model IEnumerable<GoodZoo.Models.Animal>

@{
    ViewData["Title"] = "GoodZoo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <title>GoodZoo</title>
</head>
<body>
    <h2>GoodZoo</h2>
    <p>@Html.ActionLink("Animal List", "Index", "Animals")</p>
</body>
</html>